@model IEnumerable<Phone>

@{
    ViewData["Title"] = "Phone List";
    int counter = 1;
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">

                    <div class="d-flex align-items-center justify-content-between m-2">
                        <h6 class="mb-4">Phone List Table</h6>
                        <a class="btn btn-outline-light" asp-action="Create">Create New</a>
                    </div>
                    <div asp-validation-summary="ModelOnly"></div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">№</th>
                                <th scope="col">Info</th>
                                <th scope="col">Phone  Imei</th>
                                <th scope="col">Settrings</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Phone phone in Model)
                            {
                                <tr>
                                    <th scope="row">@(counter++)</th>
                                    <td>@phone.Brand_Name @phone.Model_Name @phone.Ram / @phone.Storage @phone.Color @phone.Price Azn</td>
                                    <td>@phone.Imei</td>
                                    <td>
                                        <a class="btn btn-sm btn-outline-warning" asp-controller="product" asp-action="detail" asp-route-id="@phone.Id">Detail</a>
                                        <a class="btn btn-sm btn-outline-warning" asp-action="Update" asp-route-id="@phone.Id">Update</a>
                                        <a class="btn btn-sm btn-outline-primary" asp-action="Delete" asp-route-id="@phone.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>