@model DashboardIndexVM

@{

}



@*Cash Sale List*@

<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cash Sale List</h4>
                <h4 class="card-title">Count: @Model.CashList.Count()</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Client Name </th>
                                <th> Sales Person Name </th>
                                <th> Product Cost </th>
                                <th> Products Count </th>
                                <th> Settings </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CashList)
                            {
                                <tr>
                                    <td>@item.Name @item.Surname.Substring(0,1) @item.FatherName.Substring(0,1)</td>
                                    <td>@item.Satici</td>
                                    <td>@item.UmumiDeyer_Borc.ToString()</td>
                                    <td>@item.Products.Count()</td>
                                    <td>
                                        <div class="badge badge-outline-success">Cancel Sale</div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@*Kredit Sale List*@


<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Credit Sale List</h4>
                <h4 class="card-title">Count: @Model.CreditList.Count()</h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Client Name </th>
                                <th> Sales Person Name </th>
                                <th> Product Cost </th>
                                <th> Products Count </th>
                                <th> Settings </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CreditList)
                            {
                                <tr>
                                    <td>@item.Name @item.Surname.Substring(0,1) @item.FatherName.Substring(0,1)</td>
                                    <td>@item.Satici</td>
                                    <td>@item.UmumiDeyer_Borc.ToString()</td>
                                    <td>@item.Products.Count()</td>
                                    <td>
                                        <div class="badge badge-outline-success">Cancel Sale</div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
