@model Phone



<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-xl-12">
<            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th> Phone Brand </th>
                                    <td> @Model.Brand_Name </td>
                                    <th> Phone Model </th>
                                    <td> @Model.Model_Name </td>
                                </tr>
                                <tr>
                                    <th> Phone Detail </th>
                                    <td> @Model.Detail </td>
                                    <th> Phone Price </th>
                                    <td> $ @Model.Price </td>
                                </tr>
                                <tr>
                                    <th> Phone Stock or Sale </th>
                                    <td> @Model.Stock_Sale </td>
                                    <th> Phone Deffect </th>
                                    <td> @Model.Yararsiz </td>
                                </tr>
                                <tr>
                                    <th> Phone Customer </th>
                                    <td> @Model.UserSale </td>
                                    <th> Phone Imei </th>
                                    <td> @Model.Imei </td>
                                </tr>
                                <tr>
                                    <th> Phone Ram </th>
                                    <td> @Model.Ram </td>
                                    <th> Phone Storage </th>
                                    <td> @Model.Storage </td>
                                </tr>
                                <tr>
                                    <th> Phone Creator Name</th>
                                    <td> @Model.CreatorName </td>
                                    <th> Phone Created Date </th>
                                    <td> @Model.CreatedTime </td>

                                </tr>
                                <tr>

                                    <th> Phone Updator Name </th>
                                    <td> @Model.EditorName </td>
                                    <th> Phone Updated Time </th>
                                    <td> @Model.EditedTime </td>

                                </tr>
                                <tr>

                                    <th> Phone Color </th>
                                    <td> @Model.Color </td>
                                </tr>
                                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>